<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/assets/css/sb-admin.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    <!--Error: Bootstrap tooltips require Tether-->
    <script src="~/assets/js/tether.min.js"></script>

    <!-- jQuery -->
    <script src="~/assets/js/jquery.js"></script>    
    <!-- Bootstrap Core JavaScript -->
    <script src="~/assets/js/bootstrap.min.js"></script>

    <!-- Datepicker -->
    <link href="~/assets/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css">
    <script src="~/assets/js/plugins/moment-with-locales.js"></script>
    <script src="~/assets/js/plugins/bootstrap-datetimepicker.js"></script>

</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button class="navbar-toggler hidden-sm-up pull-sm-right" type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    &#9776;
                </button>
                <a class="navbar-brand" href="/">
                    <img src="~/assets/images/payment_logo.png" title="Personal Payments" alt="Personal Payments" />
                </a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-nav top-nav navbar-right pull-xs-right">
                <li class="dropdown nav-item">
                    <!-- <div class="dropdown"> -->
                    <!-- <a href="/Alerts" class="nav-link" aria-haspopup="true">
                        <i class="fa fa-bell"></i>
                    </a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li class="dropdown-item">
                            <a href="javascript:;">Alert Name <span class="label label-default"> Alert Badge</span></a>
                        </li>
                        <li class="dropdown-item">
                            <a href="javascript:;">Alert Name <span class="label label-primary"> Alert Badge</span></a>
                        </li>
                        <li class="dropdown-item">
                            <a href="javascript:;">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li class="dropdown-item">
                            <a href="javascript:;">Alert Name <span class="label label-info"> Alert Badge</span></a>
                        </li>
                        <li class="dropdown-item">
                            <a href="javascript:;">Alert Name <span class="label label-warning"> Alert Badge</span></a>
                        </li>
                        <li class="dropdown-item">
                            <a href="javascript:;">Alert Name <span class="label label-danger"> Alert Badge</span></a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item">
                            <a href="javascript:;">View All</a>
                        </li>
                    </ul>-->
                    <!-- </div> -->
                </li>
                <!--<li class="dropdown nav-item">
                    <a href="javascript:;" class="nav-link" data-toggle="dropdown">
                        <i class="fa fa-user"></i> John Smith 
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">
                            <a href="javascript:;"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="javascript:;"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="javascript:;"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-item">
                            <a href="javascript:;"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>-->
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-toggleable-sm navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav list-group">
                    <li class="list-group-item">
                        <a href="/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/PaymentRecord"><i class="fa fa-fw fa-money"></i> Payment Record</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/IncomeRecord"><i class="fa fa-fw fa-table"></i> Income Record</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/ExpenseCategory"><i class="fa fa-fw fa-edit"></i> Expense Category</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/Provider"><i class="fa fa-fw fa-desktop"></i> Providers</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/RecurenceType"><i class="fa fa-fw fa-retweet"></i> Recurence</a>
                    </li>
                    <!--<li class="list-group-item">
                        <a href="/User"><i class="fa fa-fw fa-wrench"></i> Users</a>
                    </li>-->
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
</body>
</html>
